[run]
source = ./gd
omit = 
    .gd/events/utils.py

    */__main__.py
    */_*.py

[report]
exclude_lines =
    pragma: no cover

    @property
    @check.is_logged

    def __[^_]+__  # do not check dunders
    if self\.debug

ignore_errors = True
